/*--------- configuração do dashboard - tela principal -----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  ------------ body - configuração da página principal ------------ */
body {
    font-family: 'Nunito', sans-serif;

    background-color: white;
    color: #fff;

    width: 100vw;
    min-height: 100vh;
    padding: 30px 30px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    overflow-x: hidden;
}
/* --------------- configuração da div boards para composição das colunas ------------------*/
.boards {
    width: 100%;
    min-height: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;

}
/* --------------- configuração da div board para cada coluna ------------------*/
.board {
    width: 33%;
    min-height: 100%;
    margin: 0 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
}

#doing {
    margin: 0 0;
}

.board h2 {
    text-align: center;
    padding: 30px 15px 15px 15px;
    color: black;
    font-weight: bold;
}

.dropZone {
    padding: 15px;
    width: 100%;
    height: calc(100% - 80px);
    transition: .2s;
}
/* ----------- configuração dos cartões a serem inseridos ----------- */
.card {
    width: 100%;
    height: auto;
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 2px 2px -1px #1765f5cc;
    border-radius: 7px;
    font-weight: 600;
    font-size: 18px;
    word-wrap: break-word;
    transition: .2s;
}

.card:hover {
    cursor: move;
}

.status {
    width: 10%;
    height: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #fd951fcc;
}
/* --------------- configuração dos cartões conforme sua inserção nas colunas ---- */
.backlog{
    background-color: blue;
}

.todo {
    background-color: red;
}

.doing {
    background-color: yellow;
}

.done {
    background-color: green;
}

.highlight {
    background-color: #df951f08;
}

.dragging {
    cursor: move;
    opacity: 0.3;
}

.over {
    background-color: #4ccd3711;
}


/* --------- configuração do botão de adicionar itens e tarefas -------- */
.botoes{
    align-items: center;
    text-align: center;
}

.addItem, .addTarefa{
    background-color: #4CAF50;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* --------- --------- */
.btn{
    background-color: #4CAF50;
    color: black;
    border: black;
    text-align: center;
    font-size: 14px;
    border-radius: 7px;
    padding: 9px 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
