/*--------- configuração do dashboard quadro -----------*/

/* configuração da tela principal section = boards */
.boards {
    width: 100%;
    min-height: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
}
/* conteúdo dos cards das colunas do board */
.board{
    width: 30%;
    min-height: 100%;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
}
/* conteúdo do título das colunas do board */
.board h2{
    text-align: center;
    color: rgb(26, 17, 17);
    font-weight: bold;
}

.dropZone {
    padding: 15px;
    width: 100%;
    height: calc(100% - 80px);
    transition: .2s;
}
/* configuração dos cards ao serem inseridos no board */
.card {
    width: 100%;
    height: auto;
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 2px 2px -1px black;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    word-wrap: break-word;
    transition: .2s;
}
/* ---- configuração dos botões do dashboard ---- */
.addItem, .addTarefa{
    border: 1px solid;
    border-color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px -1px black;
    height: 30px;
    width: 140px;
    align-items: center;
}

.addItem{
    background-color: blue;

}

.addTarefa{
    background-color: red;
}
/*-----------   ----------*/

