/*--------- janelas configuração modal dos formulários -----------*/

/* estilização do documento, com as cores de fundo e centralização, e a estilização do botão de abrir. */
#wrapper {
    /*height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    /*background: rgb(52, 52, 52);
    background: linear-gradient(90deg,
            rgba(52, 52, 52, 1) 0%,
            rgba(97, 119, 255, 1) 0%,
            rgba(33, 57, 189, 1) 100%);*/
}

/*#wrapper a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    color: #585858;
    font-family: "Roboto", sans-serif;
}*/
/*estilo da div escondida e também o pseudoelemento :target, que basicamente faz aparecer o modal, trocando a sua visibilidade.*/
.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}
/* estilização do conteúdo em si, o texto centralizado, o rodapé e o botão para fechar.*/
.conteudo {
    border-radius: 7px;
    position: relative;
    width: 400px;
    max-width: 80%;
    background: #fff;
    padding: 1em 2em;
    color: black;
}
/*  -------------- estilização do botão X fechar  ----------- */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}
/*  --------- titulo dos modais da página corrente ------------- */
.titulo{
    color: black;
    text-align: center;
    font-weight: bold;
}

.btn {
    background-color: #4CAF50;
    color: black;
    border: black;
    text-align: center;
    font-size: 14px;
    border-radius: 7px;
    padding: 9px 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button{
    background-color: #4CAF50;
}
